extends layout

block content
    h1= article.title
    h5 Written by #{article.author}
    each paragraph in article.body.split("\n")
        p= paragraph
    hr
    a.btn.btn-default(href='/articles/edit/'+article.id) Edit
    a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete